<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup
      name="userSettings"
      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    >
      <section
        name="WpfDemo.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser"
        requirePermission="false"
      />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AppSettingTest" value="AppSettingTest" />
  </appSettings>
  <userSettings>
    <WpfDemo.Properties.Settings>
      <setting name="SettingTest" serializeAs="String">
        <value>SettingTest</value>
      </setting>
      <setting name="CurrentMenu" serializeAs="String">
        <value>Index</value>
      </setting>
    </WpfDemo.Properties.Settings>
  </userSettings>
</configuration>
